@page "/peliculas"
@using System.Net.Http.Json
@inject HttpClient Http

<h3>Películas Populares</h3>

@if (movies == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="row">
        @foreach (var movie in movies)
        {
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://image.tmdb.org" class="card-img-top" alt="@movie.Title">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text text-truncate">@movie.Overview</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Movie>? movies;
    private string apiKey = "c227b1a20bb851365272581db22b41fe";

    protected override async Task OnInitializedAsync()
    {
        // Endpoint para películas populares
        var url = $"https://api.themoviedb.org{apiKey}&language=es-ES&page=1";

        var response = await Http.GetFromJsonAsync<MovieResponse>(url);
        movies = response?.Results;




        var options = new RestClientOptions("https://api.themoviedb.org/3/authentication");
        var client = new RestClient(options);
        var request = new RestRequest("");
        request.AddHeader("accept", "application/json");
        request.AddHeader("Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjMjI3YjFhMjBiYjg1MTM2NTI3MjU4MWRiMjJiNDFmZSIsIm5iZiI6MTU4NzExMjgxOC42ODMsInN1YiI6IjVlOTk2YjcyOWRlZmRhMDAxYWJkMTMwZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.0QsGI1JsFkQWG82-82XEXU4SEO5sbigqHQ4urK69rD0");
        var response = await client.GetAsync(request);

        Console.WriteLine("{0}", response.Content);
    }
}

@code {
    public class MovieResponse
    {
        public int Page { get; set; }
        public List<Movie> Results { get; set; } = new();
    }

    public class Movie
    {
        public int Id { get; set; }
        public string Title { get; set; } = string.Empty;
        public string Overview { get; set; } = string.Empty;
        public string? PosterPath { get; set; }
        public string ReleaseDate { get; set; } = string.Empty;
        // Propiedad calculada para la URL completa de la imagen
        public string FullPosterUrl => $"https://image.tmdb.org{PosterPath}";
    }

}


@* @code{
    protected override async Task OnInitializedAsync()
    {
        // Llamada a TU servidor, no a la API externa directamente
        var response = await Http.GetFromJsonAsync<TmdbResponse>("api/movies/popular");
        if (response != null)
        {
            ListaDePeliculas = response.Results;
        }
    }
} *@