@inject TmdbService TmdbService

<MovieDetailModal Movie="@selectedMovie" IsVisible="isModalVisible" OnClose="CloseModal" />

<div class="carousel-wrapper">
    <button class="nav left" @onclick="Prev">❮</button>

    <div class="carousel-viewport">
        <div class="carousel-track" style="transform: translateX(-@(currentIndex* itemWidth)px)">
            @if (movies == null)
            {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
                <p>Cargando...</p>
            }
            else
            {
                @foreach (var item in movies)
                {
                    <div class="movie-card" @onclick="() => OpenModal(item.Id)">
                        <img src="@($"https://image.tmdb.org/t/p/w500{item.Poster_Path}")" />

                        <div class="overlay">
                            <h4>@item.Title</h4>
                            <p>⭐ @item.Vote_Average</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <button class="nav right" @onclick="Next">❯</button>
</div>

@code {
    private List<Movie> movies =[];

    protected override async Task OnInitializedAsync()
    {
        var response = await TmdbService.GetPopularActionMovies();
        movies = response.Results;
    }
}

@code {
    private int currentIndex = 0;
    private int itemWidth = 200; // ancho + gap aprox

    private void Next()
    {
        if (movies == null) return;
        if (currentIndex < movies.Count - 5) currentIndex++;
    }

    private void Prev()
    {
        if (currentIndex > 0) currentIndex--;
    }
}

@code {
    private Movie selectedMovie = new();
    private bool isModalVisible = false;

    private async Task OpenModal(int id)
    {
        selectedMovie = await TmdbService.GetMovieDetails(id);
        isModalVisible = true;
    }

    private Task CloseModal()
    {
        isModalVisible = false;
        selectedMovie = null;
        return Task.CompletedTask;
    }
}