.header-slider {
    width: 100%;
    overflow: hidden;
    height: 250px; /* Altura móvil */
    position: relative;
}

.slider-track {
    display: flex;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
}

    .slider-track img {
        min-width: 100%;
        object-fit: cover;
    }

/* Subtítulo */
.section-subtitle {
    padding: 1.5rem 1rem 0.5rem;
    font-size: 1.2rem;
    color: white;
}

/* Escalado Desktop */
@media (min-width: 768px) {
    .header-slider {
        height: 500px;
    }
    /* Altura escritorio */
}
