@inherits LayoutComponentBase

<div class="app-container">
    <header>
        <div class="logo">TommyFlix</div>

        <nav class="menu">
            <a href="">Inicio</a>
            <a href="">Series</a>
            <a href="">Películas</a>
            <a href="">Mi Lista</a>
        </nav>

        <div class="profile">
            <span>👤</span>
        </div>
    </header>

    <main>
        @Body
    </main>
</div>