@page "/"

<Hero/>

<h2 class="section-title">Películas Populares</h2>
<MovieCarousel/>

<h2 class="section-title">Series Populares</h2>
<SeriesCarousel/>

@* <h2 class="section-title">Películas de Acción</h2>
<SeriesCarousel TItem="Movie" LoadItems="@_TmdbService.GetPopularSeries" /> *@